*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #FFF8F3;
  padding-top: 70px;
}
nav{
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
}
.logo h2{
  font-size: 45px;
  font-weight: 800;
}
.dot{
  color: greenyellow;
}
.menu{
  display: flex;
  gap: 51px;
  list-style-type: none;
  font-size: 20px;
  align-items: center;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
.btn{
  color: white;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  padding: 19px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  border: 1px solid greenyellow;
  background-color: #FFF8F3;
  color: greenyellow;
  transition: 0.5s;
}

#banner-container{
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
#banner-container .banner-content{
  margin-top: 391px;
}

#banner-container .banner-content h2{
  font-size: 59px;
  font-weight: 600px;
  color: #474747;
  margin-bottom:7px;
}
#banner-container .banner-content h1{
  width: 799px;
  height: 119px;
  font-size: 88px;
  font-weight: bold;
  margin-bottom: 91px;
}
#banner-container .banner-content p{
  line-height: 30px;
  font-size: 18px;
  color: #757575;
  margin-bottom: 39px;

}
.banner-content #contact-btn{
  color: greenyellow;
  border: 1px solid greenyellow;
  background-color: #FFF8F3;
  border-radius: 5px;
  padding: 19px 35px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 30px;
}
#contact-btn:hover{
  transition: 0.5s;
  color: #FFF8F3;
  background-color: greenyellow;
}
#banner-container .banner-image img{
  vertical-align: middle;
  margin-top: 4px;
}

